/* -------- основные стили --------- */
:root {
  --white: #fff;
  --clear-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --clear-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  overflow-x: hidden;

  color: #2a2626;
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-1 {
  width: 1110px;
  margin: 100px auto 0 auto;
  padding-bottom: 100px;
}

/* ----------- стили для header -------------- */
[back-fone]::before {
  position: absolute;
  top: 0;

  width: 100vw;

  height: 914px;

  background-image: url(../images/background.png);

  background-repeat: no-repeat;

  background-position: center top;

  background-size: cover;

  opacity: 0.1;

  content: "";
}

.empty-block {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 1110px;
}

.img-main {
  position: relative;
  top: 55px;
  right: -296px;

  display: block;
  height: 525px;
}

.h1-header {
  font-weight: normal;
  font-family: "Neucha", cursive;
}

.fc-basic {
  color: var(--basic);
}

.txt-header {
  padding-top: 150px;

  column-count: 2;

  column-gap: 30px;
}

.top-0px {
  margin-top: 0;

  padding-top: 0;
}

.ins-b {
  break-inside: avoid;
}

.btn-header {
  position: relative;

  margin-top: 24px;

  padding: 12px 24px;
  border: none;

  background: rgba(254, 138, 2, 1);

  cursor: pointer;
}

.btn-header:hover {
  background: rgba(234, 118, 0, 1);
}

.ref-header {
  color: var(--white);
  font: 700 16px/1.6em "Open Sans", sans-serif;
  text-decoration: none;
}

/* ------------- стили для страницы 2 ------------- */
.video {
  position: absolute;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.content-2 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0;
}

.content-3 {
  height: auto;

  padding-top: 206px;

  padding-bottom: 90px;

  background-color: var(--basic-dark);
}

.h1-block2 {
  margin: 0;

  padding-top: 0;

  text-align: center;
}

.p-block2 {
  margin: 30px 0;

  text-align: center;
}

.cont-video {
  width: 919px;
  height: 469px;
  margin: 0 auto;
}

/* ---------------------- страница 3 (nav) ----------------------- */
.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card-head {
  flex: 0 0 350px;
  box-sizing: border-box;
  height: 310px;
  margin: 10px 15px;

  color: var(--basic);
  font: 52px/1.2em "Neucha", cursive;
  text-align: left;
  vertical-align: top;
}

.card-up {
  flex: 0 0 350px;
  box-sizing: border-box;
  height: 323px;
  margin: 10px 15px;
  padding: 24px;

  background-color: var(--white);
  cursor: pointer;
}

.card-down {
  flex: 0 0 350px;
  box-sizing: border-box;
  height: 348px;
  margin: 10px 15px;
  padding: 24px;

  background-color: var(--white);
  cursor: pointer;
}

.fc-white {
  color: var(--white);
}

.font-64px {

  font: 64px/1em "Neucha", cursive;
}

.font-34px {

  margin-top: 40px;

  color: var(--basic);
  font: 34px/1.2em "Neucha", cursive;
}

.font-16px {
  font: 16px/1.6em "Open Sans", sans-serif;
}

.mbott-16px {
  margin-bottom: 16px;
}

.mbott-12px {
  margin-bottom: 12px;
}

[card-1]:hover {

  color: var(--white);

  background-color: var(--basic);
}

[card-1]:hover > .font-34px {

  margin-top: 24px;

  color: var(--white);
}

[card-2]:hover {

  color: var(--white);

  background-color: var(--basic);
}

[card-2]:hover > .font-34px {

  margin-top: 24px;

  color: var(--white);
}

[card-3]:hover {

  color: var(--white);

  background-color: var(--basic);
}

[card-3]:hover > .font-34px {

  margin-top: 24px;

  color: var(--white);
}

[card-4]:hover {

  color: var(--white);

  background-color: var(--basic);
}

[card-4]:hover > .font-34px {

  margin-top: 24px;

  color: var(--white);
}

[card-5]:hover {

  color: var(--white);

  background-color: var(--basic);
}

[card-5]:hover > .font-34px {

  margin-top: 24px;

  color: var(--white);
}
